<!DOCTYPE html>
<html>
  <head>
    <title>DevSocial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/nav' %>
    <% if params[:id] != nil %>
      <% @url = '/user/' + params[:id] %>
      <% if current_page?(@url) %>
        <img src="/banner.jpeg" class="profile-banner">
        <div class="row">
          <div class="col-sm-4" style="background-color: white;">&nbsp;</div>
          <div class="col-sm-8" style="background-color:white; text-align: right;"><%= link_to('Edit Profile', edit_user_registration_path, class: "btn btn-primary") %></div>
        </div>
      <% end %>
    <% end %>
    <div class="container">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
      <%= yield %>
    </div>
  </body>
</html>
